<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sandip_pande/IdeaProjects/Restassured">
        <classes>
            <class name="ASAAP.GetPartybyid">
                <methods>
                    <include name="GetpartyByID"/>
                </methods>
            </class>
            <class name="ASAAP.Post_Token">
                <methods>
                    <include name="post_token"/>
                </methods>
            </class>
            <class name="ASAAP.putParty">
                <methods>
                    <include name="PutParty"/>
                </methods>
            </class>
            <class name="Biller.AddBiller">
                <methods>
                    <include name="Add_Biller"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="Biller.addnickname">
                <methods>
                    <include name="Add_Biller"/>
                </methods>
            </class>
            <class name="ForgeAPI.GetAccounts">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
            <class name="ForgeAPI.GetAccountsByAccountID">
                <methods>
                    <include name="GetAccountbyAccountID"/>
                </methods>
            </class>
            <class name="ForgeAPI.passwordReset">
                <methods>
                    <include name="passwordReset1"/>
                </methods>
            </class>
            <class name="LOS.MemberProfileEnquiry">
                <methods>
                    <include name="memberid"/>
                </methods>
            </class>
            <class name="UIAutomation.BR_MGR.testClassforBG_MGR">
                <methods>
                    <include name="CreaetUser_Br_MGR"/>
                    <include name="editUser_Br_MGR"/>
                    <include name="deleteUser_Br_MGR"/>
                    <include name="viewUser_Br_MGR"/>
                    <include name="ViewClient_Br_MGR"/>
                    <include name="EditClient_Br_MGR"/>
                    <include name="viewTask_Br_MGR"/>
                    <include name="editTask_Br_MGR"/>
                    <include name="createTask_Br_MGR"/>
                    <include name="deleteClient_Br_MGR"/>
                    <include name="undoStateClient_Br_MGR"/>
                    <include name="rejectClient_Br_MGR"/>
                    <include name="blacklistClient_Br_MGR"/>
                    <include name="exitClient_Br_MGR"/>
                    <include name="approveClient_Br_MGR"/>
                    <include name="ClientState_Br_MGR"/>
                    <include name="viewGroupDetails_Br_MGR"/>
                    <include name="editGroupDetails_Br_MGR"/>
                    <include name="deleteGroupDetails_Br_MGR"/>
                    <include name="createGroupDetails_Br_MGR"/>
                    <include name="CreateReport_Br_MGR"/>
                    <include name="editReport_Br_MGR"/>
                    <include name="historicalReport_Br_MGR"/>
                    <include name="deleteReport_Br_MGR"/>
                    <include name="viewReport_Br_MGR"/>
                </methods>
            </class>
            <class name="UIAutomation.CU_ADMIN.testClassforCU_ADMIN">
                <methods>
                    <include name="CreaetUser_CU_ADMIN"/>
                    <include name="editUser_CU_ADMIN"/>
                    <include name="deleteUser_CU_ADMIN"/>
                    <include name="viewUser_CU_ADMIN"/>
                    <include name="viewRoles_CU_ADMIN"/>
                    <include name="editRoles_CU_ADMIN"/>
                    <include name="createRoles_CU_ADMIN"/>
                    <include name="deleteRoles_CU_ADMIN"/>
                    <include name="ViewClient_CU_ADMIN"/>
                    <include name="EditClient_CU_ADMIN"/>
                    <include name="clientAssociation_CU_ADMIN"/>
                    <include name="viewGroupDetails_CU_ADMIN"/>
                    <include name="editGroupDetails_CU_ADMIN"/>
                </methods>
            </class>
            <class name="UIAutomation.FSO.testClassfor_FSO">
                <methods>
                    <include name="ViewClient_FSO"/>
                    <include name="viewTask_FSO"/>
                    <include name="editTask_FSO"/>
                    <include name="createTask_FSO"/>
                    <include name="deleteClient_FSO"/>
                    <include name="undoStateClient_FSO"/>
                    <include name="rejectClient_FSO"/>
                    <include name="blacklistClient_FSO"/>
                    <include name="exitClient_FSO"/>
                    <include name="approveClient_FSO"/>
                    <include name="ClientState_FSO"/>
                    <include name="viewGroupDetails_FSO"/>
                    <include name="editGroupDetails_FSO"/>
                    <include name="deleteGroupDetails_FSO"/>
                    <include name="createGroupDetails_FSO"/>
                    <include name="historicalReport_FSO"/>
                    <include name="viewlReport_FSO"/>
                </methods>
            </class>
            <class name="UIAutomation.LAO.testClassfor_LSO">
                <methods>
                    <include name="ViewClient_LSO"/>
                    <include name="viewTask_LSO"/>
                    <include name="editTask_LSO"/>
                    <include name="createTask_LSO"/>
                    <include name="deleteClient_LSO"/>
                    <include name="undoStateClient_LSO"/>
                    <include name="rejectClient_LSO"/>
                    <include name="blacklistClient_LSO"/>
                    <include name="exitClient_LSO"/>
                    <include name="approveClient_LSO"/>
                    <include name="ClientState_LSO"/>
                    <include name="viewGroupDetails_LSO"/>
                    <include name="editGroupDetails_LSO"/>
                    <include name="deleteGroupDetails_LSO"/>
                    <include name="createGroupDetails_LSO"/>
                    <include name="historicalReport_LSO"/>
                    <include name="createReport_LSO"/>
                    <include name="viewReport_LSO"/>
                    <include name="deleteReport_LSO"/>
                    <include name="editReport_LSO"/>
                </methods>
            </class>
            <class name="UIAutomation.MSR.testClassforMSR">
                <methods>
                    <include name="ViewClient_MSR"/>
                    <include name="viewTask_MSR"/>
                    <include name="editTask_MSR"/>
                    <include name="createTask_MSR"/>
                    <include name="viewGroupDetails_MSR"/>
                    <include name="editGroupDetails_MSR"/>
                    <include name="createGroupDetails_MSR"/>
                    <include name="historicalReport_MSR"/>
                    <include name="viewlReport_MSR"/>
                </methods>
            </class>
            <class name="UIAutomation.MSR_PROB.testClassforMSR_PROB">
                <methods>
                    <include name="ViewClient_MSR"/>
                    <include name="viewTask_MSR"/>
                    <include name="createTask_MSR"/>
                    <include name="viewGroupDetails_MSR"/>
                    <include name="historicalReport_MSR"/>
                    <include name="viewlReport_MSR"/>
                </methods>
            </class>
            <class name="UIAutomation.MSR_SUP.testClassforMSR_SUP">
                <methods>
                    <include name="ViewClient_MSR_SUP"/>
                    <include name="viewTask_MSR_SUP"/>
                    <include name="editTask_MSR_SUP"/>
                    <include name="createTask_MSR_SUP"/>
                    <include name="deleteClient_MSR_SUP"/>
                    <include name="undoStateClient_MSR_SUP"/>
                    <include name="rejectClient_MSR_SUP"/>
                    <include name="blacklistClient_MSR_SUP"/>
                    <include name="exitClient_MSR_SUP"/>
                    <include name="approveClient_MSR_SUP"/>
                    <include name="ClientState_MSR_SUP"/>
                    <include name="viewGroupDetails_MSR_SUP"/>
                    <include name="editGroupDetails_MSR_SUP"/>
                    <include name="deleteGroupDetails_MSR_SUP"/>
                    <include name="createGroupDetails_MSR_SUP"/>
                    <include name="historicalReport_MSR_SUP"/>
                    <include name="createReport_MSR_SUP"/>
                    <include name="viewlReport_MSR_SUP"/>
                    <include name="deleteReport_MSR_SUP"/>
                    <include name="editReport_MSR_SUP"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>